{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OSASCO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/dog">Cachorro quente</a>
        <a href="/pombos">Pombos</a>
        <a href="/assalto">Seja assaltado</a>
        <a href="/rolezinho">Rolezinhos</a>
    </nav>
    
    {% block content %}

    {% endblock %}

    <footer>
        <p>Cuidado com o assalto, cuidado com os cara na moto</p>
    </footer>
</body>
</html>