{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

    <img src="{% static 'imagens/Dilma.jpg' %}" alt="">
    <p>A Guarda Civil Municipal (GCM) de Osasco flagrou dois homens capturando pombos para vender a buffets, na manhã deste sábado, 12, no calçadão da rua Antonio Agu, Centro da cidade.
    De acordo com a GCM, eles utilizavam a carne dos pombos no preparo de alimentos que vendiam a buffets. Foi encontrado com eles uma gaiola com 20 pombos.
    Um dos homens flagrados já responde processo por tráfico de animais silvestres. O caso foi registrado na Delegacia Seccional de Osasco. </p>

{% endblock %}